<div class="container spacer">
  <div class="card" *ngIf="mode==1">
    <h5 class="card-header">Nouveau contact</h5>
    <div class="card-body">
      <div>
        <div class="form-group">
          <label class="control-label"> Nom <span style="color:red;">*</span> :</label>
          <input class="form-control" type="text" [(ngModel)]="contact.nom" required="true">
          <div *ngIf="!contact.nom" class="alert alert-danger">
            Le nom est obligatoire.
          </div>
        </div>


        <div class="form-group">
          <label class="control-label"> Prénom <span style="color:red;">*</span> :</label>
          <input class="form-control" type="text" [(ngModel)]="contact.prenom" required="true">
          <div *ngIf="!contact.prenom" class="alert alert-danger">
            Le prénom est obligatoire.
          </div>

        </div>


        <div class="form-group">
          <label class="control-label"> Email:</label>
          <input class="form-control" type="text" [(ngModel)]="contact.email">
        </div>
        <div class="form-group">
          <label class="control-label"> Date de naissance:</label>
          <input class="form-control" type="date" [(ngModel)]="contact.dateNaissance">
        </div>
        <div class="form-group">
          <label class="control-label"> Telephone <span style="color:red;">*</span> :</label>
          <input [(ngModel)]="contact.tel" class="form-control" type="text" required="true">
          <div *ngIf="!contact.tel" class="alert alert-danger">
            Le numéro de téléphone est obligatoire.
          </div>
        </div>


        <button class="btn btn-primary" (click)="updateContact()">Sauvegarder</button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>


  <div class="card" *ngIf="mode==2">
    <h5 class="card-header">Confirmation</h5>
    <div class="card-body">
      <div>
        <div class="form-group">
          <label class="control-label"> ID:</label>
          <label>{{contact.id}}</label>
        </div>
        <div class="form-group">
          <label class="control-label"> Nom:</label>
          <label>{{contact.nom}}</label>
        </div>
        <div class="form-group">
          <label class="control-label"> Prénom:</label>
          <label>{{contact.prenom}}</label>
        </div>
        <div class="form-group">
          <label class="control-label"> Email:</label>
          <label>{{contact.email}}</label>

        </div>
        <div class="form-group">
          <label class="control-label"> Date de naissance:</label>
          <label>{{contact.dateNaissance}}</label>
        </div>
        <div class="form-group">
          <label class="control-label"> Téléphone:</label>
          <label>{{contact.tel}}</label>
        </div>

        <button class="btn-primary" (click)="mode=1">Nouveau contact</button>


      </div>
    </div>
  </div>

</div>
    </div></div></div>
